// Colors
$clr-blue-100: hsl(225, 100%, 94%);
$clr-blue-200: hsl(225, 100%, 98%);
$clr-blue-500: hsl(224, 23%, 55%);
$clr-blue-700: hsl(245, 75%, 52%);
$clr-blue-900: hsl(223, 47%, 23%);
$clr-white: hsl(0, 0, 100%);

// Fonts
$ff: "Red Hat Display", sans-serif;
$fs: 16px;
